@font-face{
    font-family: "Myriad W01 Regular";
    src: url("../fonts/2bd106a4-3872-4193-8627-d7af96dd4f7e.eot?#iefix");
    src: url("../fonts/2bd106a4-3872-4193-8627-d7af96dd4f7e.eot?#iefix") format("eot"),url("../fonts/c5b1c170-d8f7-41f9-85c2-0ab670780c6b.woff") format("woff"),url("../fonts/ba1ff8f6-0c27-4e7b-8be5-818b6c3dd801.ttf") format("truetype"),url("../fonts/a379413e-a0b8-44dc-b250-1e000e4092a4.svg#a379413e-a0b8-44dc-b250-1e000e4092a4") format("svg");
}

@font-face{
    font-family: "Myriad W01 Light";
    src: url("../fonts/b3e9f984-f8ca-4650-90c3-d6f0aca0a27d.eot?#iefix");
    src: url("../fonts/b3e9f984-f8ca-4650-90c3-d6f0aca0a27d.eot?#iefix") format("eot"),url("../fonts/b984f4e8-e37d-4502-bead-ffd991e64d1f.woff") format("woff"),url("../fonts/82d18baa-8811-4aa8-9338-9bafa08350d0.ttf") format("truetype"),url("../fonts/20e14bb9-6aec-47a9-8ef8-5613bf1d6eae.svg#20e14bb9-6aec-47a9-8ef8-5613bf1d6eae") format("svg");
}

@font-face{
    font-family: "Myriad W01 SemiBold";
    src: url("../fonts/f71415c0-f68d-42cd-a948-05af81548ea5.eot?#iefix");
    src: url("../fonts/f71415c0-f68d-42cd-a948-05af81548ea5.eot?#iefix") format("eot"),url("../fonts/c22866d7-ca67-4170-a113-cae280eea669.woff") format("woff"),url("../fonts/19ce9ea9-076e-4dcd-91a1-454f4830f120.ttf") format("truetype"),url("../fonts/18915124-98e4-4245-9e10-b921e09a6704.svg#18915124-98e4-4245-9e10-b921e09a6704") format("svg");
}

@font-face {
    font-family: "Wendy W01 MediumLP";
    src: url("../fonts/3d755eb3-3e23-469c-a89f-9884cd36b299.eot?#iefix");
    src: url("../fonts/3d755eb3-3e23-469c-a89f-9884cd36b299.eot?#iefix") format("eot"),url("../fonts/cf9f9fc8-30ad-4171-922c-e844136c3606.woff") format("woff"),url("../fonts/4b91ee10-9434-4eae-9f3c-9e88b2d661ad.ttf") format("truetype"),url("../fonts/576b8565-c838-4b60-be2f-8dc942963441.svg#576b8565-c838-4b60-be2f-8dc942963441") format("svg");
}

@font-face {
    font-family: "Wendy W01 LightLP";
    src: url("../fonts/af414512-9687-4b17-b62b-116dfeb16c2e.eot?#iefix");
    src: url("../fonts/af414512-9687-4b17-b62b-116dfeb16c2e.eot?#iefix") format("eot"),url("../fonts/eb0ea07f-5587-4569-93ec-ad459649be60.woff") format("woff"),url("../fonts/55bc2888-c1f2-4742-865e-1f9f96508688.ttf") format("truetype"),url("../fonts/7ab430f9-7bf3-4b04-bb8d-6ff80dccc7c1.svg#7ab430f9-7bf3-4b04-bb8d-6ff80dccc7c1") format("svg");
}

/*@font-face{
    font-family: "Bodoni MT W01";
    src: url("../fonts/68217aa1-2e0f-46ff-8346-2dc7f2b6da58.eot?#iefix");
    src: url("../fonts/68217aa1-2e0f-46ff-8346-2dc7f2b6da58.eot?#iefix") format("eot"),url("../fonts/4998dec5-0c5b-4fbc-bcb0-b8881a830aab.woff") format("woff"),url("../fonts/fedc1312-4f84-4eef-9fea-ea0863dab099.ttf") format("truetype"),url("../fonts/6f65f35b-416f-411e-9985-5ba096d468b6.svg#6f65f35b-416f-411e-9985-5ba096d468b6") format("svg");
}

@font-face{
    font-family: "EdwardianScriptITCW01";
    src: url("../fonts/8502d3ad-0939-412a-afe0-b78e999c88d2.eot?#iefix");
    src: url("../fonts/8502d3ad-0939-412a-afe0-b78e999c88d2.eot?#iefix") format("eot"),url("../fonts/e92a529b-97f5-440f-b8a4-a2ad31c621c4.woff") format("woff"),url("../fonts/2f1f04a2-511d-4a3b-b732-c32c66b26a56.ttf") format("truetype"),url("../fonts/93ba0d7d-f6db-4b27-9494-3c5f770b72c7.svg#93ba0d7d-f6db-4b27-9494-3c5f770b72c7") format("svg");
}

@font-face{
    font-family: "Futura W01 Book";
    src: url("../fonts/57a6731b-fa5c-4c8a-bea8-e2f1a287f309.eot?#iefix");
    src: url("../fonts/57a6731b-fa5c-4c8a-bea8-e2f1a287f309.eot?#iefix") format("eot"),url("../fonts/4d0e252c-d811-4a5d-a7f3-6ad72c6b76f2.woff") format("woff"),url("../fonts/54250d43-02be-4ff9-b802-a4ea104a0611.ttf") format("truetype"),url("../fonts/15c556fc-4608-4b01-8a0d-9c8631c8bd74.svg#15c556fc-4608-4b01-8a0d-9c8631c8bd74") format("svg");
}

@font-face{
    font-family: "News Gothic W01";
    src: url("../fonts/7feeddb9-43b6-461a-97b6-b56aff5e8106.eot?#iefix");
    src: url("../fonts/7feeddb9-43b6-461a-97b6-b56aff5e8106.eot?#iefix") format("eot"),url("../fonts/16d0ae15-a315-4df1-a24c-7addb09b5eef.woff") format("woff"),url("../fonts/f87bf9c6-814b-4e50-bc84-247e8b0a841d.ttf") format("truetype"),url("../fonts/3f2579a8-dff8-4c55-8a9d-ba8ec6b7c5b0.svg#3f2579a8-dff8-4c55-8a9d-ba8ec6b7c5b0") format("svg");
}

@font-face{
    font-family: "Perpetua MT W01";
    src: url("../fonts/640e04bf-5082-42d9-b3c5-ee73d7b4acc2.eot?#iefix");
    src: url("../fonts/640e04bf-5082-42d9-b3c5-ee73d7b4acc2.eot?#iefix") format("eot"),url("../fonts/80398ad4-b81d-4d11-962e-a5789b20b6a3.woff") format("woff"),url("../fonts/50adb340-70d0-4c89-9c96-c19f88402b2b.ttf") format("truetype"),url("../fonts/8a9ab553-0bd1-4d83-baa7-959b52510415.svg#8a9ab553-0bd1-4d83-baa7-959b52510415") format("svg");
}*/