#preview_content:hover {
cursor: url(/assets/designonline/images/openhand.cur), auto;
}
#preview_content:active {
cursor: url(/assets/designonline/images/closedhand.cur), auto;
}
#dlg-container{
position: absolute;
z-index: 9999;
width: 100%;
top:0%;
height: 100%;
display: none;
margin:0 auto;
}
.cursor_zoomin {
cursor : url(/assets/designonline/images/cursors/icon-tool-zoom.png) !important;
}
#svg-main .main-image {
	cursor: move;
}
#svg-main .shape-path.active{
	stroke: #CA7642;
	stroke-width: 2px;
}
#svg-main.preview .group-bleed  {
	display: block !important;
}
#svg-main.preview .group-bleed .bleed {
	fill: #fff !important;
	fill-opacity: 1 !important;
	stroke: #fff !important;
  	stroke-width: 3px !important;
}

#svg-main.preview .group-mirror-bleed{
	display: none !important;
}
#svg-main.preview-bg .group-bleed .bleed {
	display: none !important;
}
#svg-preview {
	cursor: default !important;
}

.right {
  float: right !important;
}
.ds-size-table, .ds-opt-table, .ds-opt-table h3, .ds-opt-table .list-group-item{
    font-size: 12px;
}
.ds-main-box{
    height: 845px;
}