

#projectTitleContainer{bottom:10px;display:inline-block;font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;font-size:16px;overflow:hidden;position:absolute}
#projectTitleContainer #savedProjectTitle,#projectTitleContainer a{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-weight:normal}
#projectTitleContainer a{cursor:pointer}
#navBarContainer{height:60px;margin:0;padding-bottom:10px;position:relative;width:100%}
#navBarContainer #paletteOnOffBtn{display:none}
#pathPromoWell{display:none;margin-top:5px;vertical-align:bottom}
.designawall #pathPromoWell{display:inline-block}
#actionContainer{border:0;bottom:10px;display:inline-block;float: right; margin-top: -20px;}
#actionContainer a{cursor:pointer;margin:0;}
.showSurfaceNav #surfaceNavigationContainer{display:block}
#surfaceNavigationContainer{-moz-transition-duration:300ms;-o-transition-duration:300ms;-webkit-transition-duration:300ms;transition-duration:300ms;-moz-transition-property:width;-o-transition-property:width;-webkit-transition-property:width;transition-property:width;bottom:10px;position:absolute;right:0;text-align:center;width:75%}
#surfaceNavigationContainer .surfacenavunit .surfaceNavEdit{margin:0 5px 0 5px}
#surfaceNavigationContainer .surfacenavunit .surfaceNavEdit.selected{display:none}
#surfaceNavigationContainer .surfacenavunit .surfaceNavEdit.landscape{display:none}
#surfaceNavigationContainer .surfacenavunit.selected .surfaceNavEdit.selected.portrait{display:inline}
#surfaceNavigationContainer .surfacenavunit.selected .surfaceNavEdit.unselected{display:none}
#surfaceNavigationContainer .surfacenavunit.landscape .surfaceNavEdit.portrait{display:none}
#surfaceNavigationContainer .surfacenavunit.landscape .surfaceNavEdit.landscape{display:inline}
#surfaceNavigationContainer .surfacenavunit.landscape .surfaceNavEdit.landscape.selected{display:none}
#surfaceNavigationContainer .surfacenavunit.landscape.selected .surfaceNavEdit.landscape.selected{display:inline}
#surfaceNavigationContainer .surfacenavunit.landscape.selected .surfaceNavEdit.unselected{display:none}
#surfaceNavigationContainer .surfacenavunit.landscape.selected .surfaceNavEdit.portrait.selected{display:none}
#surfaceNavigationContainer img{cursor:pointer;vertical-align:inherit}
#surfaceNavigationContainer.isPreview{width:100%}
#surfaceNavigationContainer.isPreview.hasFlashPreview{visibility:hidden}
.svg #surfaceNavigationContainer{-moz-transition-duration:0;-o-transition-duration:0;-webkit-transition-duration:0;transition-duration:0;-moz-transition-property:none;-o-transition-property:none;-webkit-transition-property:none;transition-property:none}
.svg #zoomout{display:none}
.svg #zoomLink{background-image:url(/i/creationpath/tinyicons-v14002651080003271.png);background-position:-6px -502px;background-repeat:no-repeat;border-right:1px solid black;margin-right:0;overflow:hidden;padding-left:21px;padding-right:6px}
.zoomed .svg #zoomLink{background-position:-6px -535px;border-right:1px solid transparent}
.zoomed .svg #zoomLink #zoomin{display:none}
.zoomed .svg #zoomLink #zoomout{display:inline}
.svg #actionContainer.zoomed #zoomLink{background-position:-6px -535px;border-right:1px solid transparent}
.svg #actionContainer.zoomed #zoomin{display:none}
.svg #actionContainer.zoomed #zoomout{display:inline}
.svg #actionContainer.zoomed #previewLink{display:none}
.svg #actionContainer.zoomed.freeform #previewLink{display:inline-block}
#paletteContainer{-moz-transition-property:width;-o-transition-property:width;-webkit-transition-property:width;transition-property:width;-moz-transition-duration:300ms;-o-transition-duration:300ms;-webkit-transition-duration:300ms;transition-duration:300ms;float:left;height:100%;min-height:240px;/*overflow-x:hidden;overflow-y:hidden;*/position:relative;width:25%}
#paletteContainer.hidden{display:none}
#paletteContainer.hide{overflow:hidden;width:0}
.svg #paletteContainer{-moz-transition-property:none;-o-transition-property:none;-webkit-transition-property:none;transition-property:none;-moz-transition-duration:0;-o-transition-duration:0;-webkit-transition-duration:0;transition-duration:0}
#paletteLabels{padding:0;position:absolute;width:26px}
#paletteLabels.hide{display:none}
#paletteLabels .paletteLabel{-moz-border-radius:4px 0 0 4px / 4px 0 0 4px;-webkit-border-radius:4px 4px;border-radius:4px 0 0 4px / 4px 0 0 4px;background-color:#f0f0f0;color:#666;cursor:pointer;display:inline-block;font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:14px;margin:0;overflow:hidden;padding:0;position:relative;width:26px}
#paletteLabels .paletteLabel.hidden{display:none}
#paletteLabels .paletteLabel.active{background-color:#428bca;color:#FFF}
#paletteLabels .paletteLabel div{display:inline-block;margin:0;padding:0;position:absolute}
#paletteLabels .paletteLabel div.noIe8{-moz-transform:rotate(270deg);-ms-transform:rotate(270deg);-webkit-transform:rotate(270deg);transform:rotate(270deg);-moz-transform-origin:center center;-ms-transform-origin:center center;-webkit-transform-origin:center center;transform-origin:center center}
#paletteLabels .paletteLabel div.ie8{padding:3px 10px;text-align:center;zoom:1}
#paletteContent{height:100%;padding-left:25px}
#paletteContent .paletteContent{height:536px;background:#FFF;border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;border-top:1px solid #e4e4e4;font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:13px;top:0;right:-26px;margin-right:26px;bottom:0;left:26px;overflow-y:auto;padding:20px;position:absolute}
#paletteContent .paletteContent.shrink{bottom:56px}
#paletteContent.hidden{display:none}
#paletteContent div.paletteContent{display:none}
#paletteContent div.paletteContent.active{display:block}
#paletteContent div.paletteContent.active.hidden div{display:none}
#paletteContent div.paletteContent.glow{z-index:1090}
#paletteContentArrangements{text-align:center;overflow-x:hidden}
#paletteContentAssortment{text-align:center;overflow-x:hidden}
#paletteContentDesigns{text-align:center;overflow-x:hidden}
#paletteContentDesigns.paletteContent{padding:0}
.linkContainer{border-top:1px solid #e4e4e4;border-right:1px solid #e4e4e4;border-left:1px solid #e4e4e4;height:59px;padding:10px;position:absolute;overflow-y:auto;bottom:0;right:-26px;margin-right:26px;left:26px;z-index:1}
.linkContainer a{cursor:pointer}
.linkContainer #wallArtType{display:block;font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;padding-bottom:5px}
.linkContainer .selectedLink{color:#f05323;cursor:default}
.linkContainer .linkDivider{color:#c6c7c9;padding-left:10px;padding-right:10px}
#picturestripContainer{-moz-transition-duration:300ms;-o-transition-duration:300ms;-webkit-transition-duration:300ms;transition-duration:300ms;-moz-transition-property:height;-o-transition-property:height;-webkit-transition-property:height;transition-property:height;clear:both;height:160px;overflow:hidden;width:100%}
#picturestripContainer.hide{height:0}
.svg #picturestripContainer{-moz-transition-duration:0;-o-transition-duration:0;-webkit-transition-duration:0;transition-duration:0;-moz-transition-property:none;-o-transition-property:none;-webkit-transition-property:none;transition-property:none}
#picturestrip{background-color:#fff;border-top:1px solid #e4e4e4;font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:12px;margin-left:26px;padding-top:10px}
#picturestrip.loading{background:url(/i/creationpath/imgBkgdCanvasGray-v13758919420001369.png) repeat;height:100%;width:100%}
#picturestrip .picturestripImage{cursor:hand;cursor:pointer;box-shadow:1px 2px 2px 0 #aaa}
.dragpicture #picturestrip .picturestripImage{cursor:url(/i/creationpath/icons/drag_cursor_white-v13789376720001406.cur),pointer;cursor:-moz-grabbing;cursor:-webkit-grabbing;cursor:grabbing}
#picturestrip .picturestripImageRemoveIcon{background-color:transparent;background-image:url(/i/creationpath/tinyicons-v14002651080003271.png);background-position:-6px -394px;background-repeat:no-repeat;display:none;height:14px;left:74px;position:absolute;top:0;width:14px;z-index:4}
#picturestrip .picturestripImageRemoveIcon:hover{background-position:-7px -369px;cursor:pointer}
#picturestrip .picturestripImageDiv{float:left;height:94px;position:relative;width:94px;text-align:center;margin:0 3px;border:3px solid transparent}
#picturestrip .picturestripImageDiv:hover{border-color:#fff}
#picturestrip .picturestripImageDiv:hover .picturestripImageRemoveIcon{display:block}
#picturestrip .picturestripImageDiv.used:hover .picturestripImageRemoveIcon{display:none}
#picturestrip .picturestripContents{height:89px;padding:0;margin:6px 0}
#picturestrip .picturestripContents .showRemoveButton{display:block}
#picturestrip .picturestripContents .selected{border-color:#fff}
#picturestrip #getMorePicsLink{cursor:pointer;color:#369}
#picturestrip #getMorePicsLink:hover{text-decoration:underline}
#picturestrip .picturestripFilledBackground{background:url(/i/creationpath/imgBkgdCanvasGray-v13758919420001369.png) repeat;height:144px;border-width:2px;border-style:solid;border-color:#bbb #cdcdcd}
#picturestrip .picturestripBackground{background-color:#e3e3e3;border-width:2px;border-style:solid;border-color:#bbb #cdcdcd;height:144px}
#picturestrip .picturestripBackground #getPicturesBtn{cursor:hand;cursor:pointer;display:block;margin:auto;padding-top:15px}
#picturestrip #PicturestripViewport{height:118px;margin:0 22px;overflow-x:auto;overflow-y:hidden}
#picturestrip.noUnusedPhotos #PicturestripViewport{display:none}
#picturestrip #PictureStripNoUnusedMsg{height:118px;padding-top:55px;font-size:16px;text-align:center;margin:0 auto;display:none}
#picturestrip.noUnusedPhotos #PictureStripNoUnusedMsg{display:block}
#picturestrip .picturestripControls{height:18px;margin:auto;padding-top:3px;text-align:center;white-space:nowrap;width:332px}
#picturestrip .picturestripControls span{padding:0 15px}
#picturestrip .picturestripControls div{float:left}
#picturestrip .picturestripControls #getPicturesBtn{margin:0 4px 0 0;vertical-align:middle}
#picturestrip .picturestripUsedImage{background:url("/i/creationpath/picture_strip/photo_used-v13866364910001139.png") no-repeat scroll 0 0 transparent;display:none;height:21px;left:72px;margin-top:0;position:absolute;top:71px;width:20px;z-index:4}
#picturestrip .picturestripImageDiv.used .picturestripUsedImage{display:block}
#getPicturesBtnLarge{background:url(/assets/images/1.png) no-repeat center center;cursor:pointer;height:100%;width:100%}
#getPicturesBtn{background:url(/i/creationpath/iconGetMorePhotos-v1375817834000347.png) no-repeat center center;cursor:pointer;display:inline-block;height:16px;width:24px}
#signInBtnLarge{background:url(/i/creationpath/add_picturesSignIn-v13830794800004399.png) no-repeat center center;cursor:pointer;height:100%;width:100%}
.unusedNum{display:none}
.hideUsed .picturestripImageDiv.used,.hideUsed .totalNum{display:none}
.hideUsed .unusedNum{display:block}
#paletteContainer.showPriceWarning #priceChangeWarning{display:block}
#priceChangeWarning{-moz-border-radius:0 0 3px 3px;-webkit-border-radius:0;border-radius:0 0 3px 3px;-moz-box-shadow:0 3px 7px #999;-webkit-box-shadow:0 3px 7px #999;box-shadow:0 3px 7px #999;background:white url(/assets/images/info-v1401489433000215.png) 10px 7px no-repeat;color:#181512;display:none;font-size:12px;left:13%;padding:8px 8px 8px 34px;position:absolute;top:1px;width:77%}
#priceChangeWarning.noShadow{border-bottom:1px solid #BBB;border-left:1px solid #BBB;border-right:1px solid #BBB}
#productOptionsHeaderArea{font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:16px;padding-bottom:15px}
#productOptionsBreak{border-bottom:1px solid #dedede;height:0;left:0;margin-bottom:15px;position:relative;width:100%}
.colorItem{border:2px solid white;cursor:pointer;display:inline;float:left;margin:3px}
.colorItemSelected{border:2px solid #f05323;display:inline;float:left;margin:3px}
.colorItemSelected.dynamicColorSelected{border:2px solid white;cursor:pointer}
.colorSwatchThumbSmall{float:left;height:22px;line-height:10px;overflow:hidden;width:22px;border:1px solid #ccc}
.colorSwatchThumb{float:left;height:44px;line-height:10px;overflow:hidden;width:44px;border:1px solid #ccc}
#paletteContent #paletteContentOptions{padding:0}
#paletteContentOptions>div{padding:0 20px}
#paletteContentOptions>div ._selectableOption{cursor:pointer;cursor:hand}
#paletteContentOptions>div #option-CASE_FINISH label{cursor:pointer;cursor:hand}
#paletteContentOptions #dynamicColorsWrapper{padding:0}
#paletteContentOptions #dynamicColorsWrapper.invisible{display:none}
.dynamicColorIcon{background:url(/i/creationpath/options/dynamic_color-v14036407860001912.png);background-size:contain;background-repeat:no-repeat;background-color:#e7e5e6;height:40px;width:40px;cursor:pointer}
#dynamicColor{padding:2px;display:inline-block;margin:10px 0 0 23px;background-color:#e7e5e6;cursor:pointer;border:2px solid #e4e4e4}
#dynamicColor.selected{border:2px solid #f05323;cursor:default}
#dynamicColors{-moz-transition-property:max-height;-o-transition-property:max-height;-webkit-transition-property:max-height;transition-property:max-height;-moz-transition-duration:500ms;-o-transition-duration:500ms;-webkit-transition-duration:500ms;transition-duration:500ms;padding:0 23px;background-color:#f4f4f4;overflow:hidden;border:1px solid #e4e4e4;margin-top:10px;z-index:2;max-height:430px}
#dynamicColors.invisible{visibility:hidden;max-height:0;margin-top:0}
#dynamicColors::before{-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);content:"\00a0";width:10px;height:10px;background-color:#f4f4f4;left:40px;margin-top:-7px;display:inline-block;position:absolute;border-left:1px solid #e4e4e4;border-top:1px solid #e4e4e4}
#dynamicColorLabel{padding:20px 0 0 20px}
#dynamicColorLabel.invisible{display:none}
.dynamicColorSwatchThumb{float:left;height:33px;line-height:10px;overflow:hidden;width:33px;margin:4px;position:relative;border:1px solid #e4e4e4;cursor:pointer}
.dynamicColorSwatchThumb.selected{border:2px solid #f05323;cursor:default}
.dynamicColorPopup{-moz-transition-property:max-height;-o-transition-property:max-height;-webkit-transition-property:max-height;transition-property:max-height;-moz-transition-duration:1000ms;-o-transition-duration:1000ms;-webkit-transition-duration:1000ms;transition-duration:1000ms;position:absolute;padding:3px;border:1px solid #e4e4e4;background-color:#fff;box-shadow:4px 4px 8px #999;z-index:1000;max-height:1000px}
.dynamicColorPopup.invisible{display:none}
.dynamicColorPopup .close{background:url(/i/creationpath/icons/close-v1369079317000621.png) center center no-repeat;cursor:pointer;display:inline-block;position:relative;height:16px;width:16px;margin:10px;float:right}
.dynamicColorPopup .arrow{z-index:0}
.dynamicColorPopup .arrow.invisible{display:none}
.dynamicColorPopup .arrow::before{-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);content:"\00a0";width:16px;height:16px;background-color:#fff;display:inline-block;position:absolute;border-color:#e4e4e4;border-style:solid}
.dynamicColorPopup .arrow.top::before{left:15px;top:-9px;border-width:1px 0 0 1px}
.dynamicColorPopup .arrow.bottom::before{left:15px;bottom:-9px;border-width:0 1px 1px 0;box-shadow:3px 3px 4px #999}
.dynamicColorPopup .arrow.left::before{left:-9px;border-width:0 0 1px 1px;top:35%}
#dynamicColorOptionsWrapper .dynamicColorOptions{width:410px;display:inline-block;position:relative;z-index:1}
#dynamicColorTooltip{padding:0}
#dynamicColorTooltip #message{width:156px;display:inline-block;position:relative;z-index:1;font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:11px;color:#58595b;margin:10px 0 10px 10px}
#dynamicColorTooltip #message .title{font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif}
.imageOption{cursor:pointer;display:inline-block;margin-right:10px;text-align:center;float:left}
.addOnColorOption{cursor:pointer;display:inline-block;text-align:center;float:left}
.optionTooltipIcon{background:url(/i/creationpath/icons/info_blue-v1383080204000383.png) no-repeat center center;color:#666;cursor:pointer;display:inline-block;height:15px;margin-left:5px;padding:1px 5px;position:relative;top:2px;width:15px}
.optionIcon{display:inline-block}
.optionType{margin-top:20px}
.optionType.noOverflow{overflow:hidden}
.optionType .productRadioOptions{cursor:pointer;cursor:hand}
.optionApplyToAll{margin-top:5px;margin-bottom:5px}
.productOptionLbl{clear:both;display:block;font-family:"Avenir LT W01 85 Heavy",Verdana,Arial,sans-serif;margin-bottom:5px}
.sprite-TRIM{background:url(/i/creationpath/options/sprite-TRIM-v14041597690002355.png) no-repeat top left}
.sprite-rounded_off{background-position:0 0;width:28px;height:28px}
.sprite-rounded_on{background-position:0 -78px;width:28px;height:28px}
.sprite-square_off{background-position:0 -156px;width:26px;height:28px}
.sprite-square_on{background-position:0 -234px;width:26px;height:28px}
.sprite-scallop_off{background-position:0 -468px;width:28px;height:28px}
.sprite-scallop_on{background-position:0 -546px;width:28px;height:28px}
.sprite-ticket_off{background-position:0 -312px;width:28px;height:28px}
.sprite-ticket_on{background-position:0 -390px;width:28px;height:28px}
.sprite-bracket_off{background-position:0 -624px;width:28px;height:28px}
.sprite-bracket_on{background-position:0 -702px;width:28px;height:28px}
.sprite-MUG_FILLER{background:url(/i/creationpath/options/sprite-MUG_FILLER-v139206915400010947.png) no-repeat top left}
.sprite-ghirardelli_mug_off{background-position:0 0;width:38px;height:38px}
.sprite-ghirardelli_mug_on{background-position:0 -88px;width:38px;height:38px}
.sprite-no_add_on_mug_off{background-position:0 -176px;width:38px;height:38px}
.sprite-no_add_on_mug_on{background-position:0 -264px;width:38px;height:38px}
.sprite-MUG_HANDLE_COLOR{background:url(/i/creationpath/options/sprite-MUG_HANDLE_COLOR-v14041597690001508.png) no-repeat top left}
.sprite-black_ceramic_mug_off{background-position:0 0;width:28px;height:28px}
.sprite-black_ceramic_mug_on{background-position:0 -78px;width:28px;height:28px}
.sprite-blue_handle_color_ceramic_mug_off{background-position:0 -156px;width:28px;height:28px}
.sprite-blue_handle_color_ceramic_mug_on{background-position:0 -234px;width:28px;height:28px}
.sprite-green_handle_color_ceramic_mug_off{background-position:0 -312px;width:28px;height:28px}
.sprite-green_handle_color_ceramic_mug_on{background-position:0 -390px;width:28px;height:28px}
.sprite-lightblue_handle_color_ceramic_mug_off{background-position:0 -468px;width:28px;height:28px}
.sprite-lightblue_handle_color_ceramic_mug_on{background-position:0 -546px;width:28px;height:28px}
.sprite-orange_handle_color_ceramic_mug_off{background-position:0 -624px;width:28px;height:28px}
.sprite-orange_handle_color_ceramic_mug_on{background-position:0 -702px;width:28px;height:28px}
.sprite-pink_handle_color_ceramic_mug_off{background-position:0 -780px;width:28px;height:28px}
.sprite-pink_handle_color_ceramic_mug_on{background-position:0 -858px;width:28px;height:28px}
.sprite-red_handle_color_ceramic_mug_off{background-position:0 -936px;width:28px;height:28px}
.sprite-red_handle_color_ceramic_mug_on{background-position:0 -1014px;width:28px;height:28px}
.sprite-white_ceramic_mug_off{background-position:0 -1092px;width:28px;height:28px}
.sprite-white_ceramic_mug_on{background-position:0 -1170px;width:28px;height:28px}
.sprite-yellow_handle_color_ceramic_mug_off{background-position:0 -1248px;width:28px;height:28px}
.sprite-yellow_handle_color_ceramic_mug_on{background-position:0 -1326px;width:28px;height:28px}
.sprite-none{background:#DDD;border:2px solid white;height:44px;margin:2px;padding:1px;position:relative;text-align:center;width:44px}
.sprite-none_on{border:2px solid #f05323}
.optionInsideLower,.optionInsideUpper{display:none}
.sprite-none .optionInsideLower,.sprite-none .optionInsideUpper{border-style:solid;display:inline-block;height:0;position:absolute;width:0}
.sprite-none .optionInsideLower{border-left:21px solid transparent;border-right:22px solid white;border-bottom:22px solid white;border-top:21px solid transparent;left:2px;top:2px}
.sprite-none .optionInsideUpper{border-left:21px solid white;border-right:21px solid transparent;border-bottom:21px solid transparent;border-top:21px solid white;left:1px;top:1px}
.storeOption,.storeOptionSelected{color:#181512;display:inline-block;font-family:"Avenir LT W01 65 Medium",Verdana,Arial,sans-serif;font-size:13px;margin-left:1px;margin-right:9px;text-align:center}
.storeOption{cursor:pointer}
.sizeOption{display:inline-block;vertical-align:middle}
.sizeOption img{border:1px solid transparent;margin:2px 3px;padding:10px 0}
.tooltipDialog{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 0 6px black;-webkit-box-shadow:0 0 6px black;box-shadow:0 0 6px black;background:#FFF;display:inline-block;font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;padding:0 10px 10px 10px;position:absolute;min-width:200px;max-width:350px;z-index:300}
.tooltipDialog::before{-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);-moz-box-shadow:-3px 3px 3px rgba(0,0,0,0.4);-webkit-box-shadow:-3px 3px 3px rgba(0,0,0,0.4);box-shadow:-3px 3px 3px rgba(0,0,0,0.4);background-color:#FFF;content:"\00a0";display:block;height:10px;left:-15px;position:relative;top:15px;width:10px;z-index:299}
.tooltipDialog.hidden{display:none}
.tooltipDialog.noShadow{border:1px solid #BBB;left:-25px;padding-top:10px}
.PHOTO_MAT_DESIGN_tooltip,.PHOTO_FRAME_STYLE_tooltip{min-width:0}
.PHOTO_FRAME_STYLE_tooltip{padding-right:0}
.one_PHOTO_FRAME_STYLE_info{float:left;margin-right:10px}
.PHOTO_FRAME_STYLE_infoLabel{font-size:9px;margin-bottom:3px;font-family:Avenir}
.PHOTO_FRAME_STYLE_infoImg,.PHOTO_MAT_DESIGN_infoImg{line-height:0}
#editPageContainer{-moz-transition-duration:300ms;-o-transition-duration:300ms;-webkit-transition-duration:300ms;transition-duration:300ms;-moz-transition-property:width,padding;-o-transition-property:width,padding;-webkit-transition-property:width,padding;transition-property:width,padding;background-color:#FFF;background-position:center center;background-repeat:no-repeat;border-top:1px solid #e4e4e4;border-right:1px solid #e4e4e4;float:right;height:100%;margin:0;min-height:240px;overflow:hidden;padding:0 15px 60px 15px;text-align:center;width:75%}
#editPageContainer.hidden{display:none}
#editPageContainer.hide{border:0;overflow:hidden;padding:0;width:0}
#editPageContainer.hide .loadingImg{display:none}
#editPageContainer.isLoading #editPageContainerImageHotZones,#editPageContainer.isLoading #editPageContainerTextHotZones{display:none}
.editPageContainerSurfaceMessage{font-size:12px;height:0;line-height:30px;overflow:visible;position:relative;z-index:50}
.editPageContainerSurfaceMessage.fixedHeight{height:30px}
#editPageContainerBackpack{border:0;margin:auto;position:relative;height:100%;width:100%}
#editPageContainerHotZones{-moz-transition-duration:500ms;-o-transition-duration:500ms;-webkit-transition-duration:500ms;transition-duration:500ms;-moz-transition-property:background-image;-o-transition-property:background-image;-webkit-transition-property:background-image;transition-property:background-image;background-position:center center;background-repeat:no-repeat;background-size:contain;border:0;height:100%;margin:0;padding:0;position:absolute;width:100%}
#editPageContainerImageHotZones{height:0;margin:0;padding:0;position:absolute;width:0}
#editPageContainerImageHotZones .imagearea{cursor:hand;cursor:pointer;position:absolute;text-align:center;z-index:50}
#editPageContainerImageHotZones .imagearea.ie8{background:url("/i/creationpath/ie8_clear_pixel-v137581783600068.png") no-repeat center center}
#editPageContainerImageHotZones .imagearea.empty{background:url("/i/publishing/ssc/icon_drop_image-v1386798274000244.png") no-repeat center center}
#editPageContainerImageHotZones .imagearea.empty.ie8{background:url("/i/publishing/ssc/icon_drop_image_ie8-v1386798274000229.png") no-repeat center center}
#editPageContainerImageHotZones .imagearea .renderWarning{background:url(/i/creationpath/icons/warning-v1383672964000269.png) center center no-repeat;height:15px;width:16px;position:relative;top:2%;left:2%;display:none}
#editPageContainerImageHotZones .imagearea:hover,#editPageContainerImageHotZones .imagearea.highlight{border:3px solid red;padding:0}
#editPageContainerImageHotZones .imagearea:hover .renderWarning,#editPageContainerImageHotZones .imagearea.highlight .renderWarning{top:1%;left:1%}
.dragpicture #editPageContainerImageHotZones .imagearea{cursor:url(/i/creationpath/icons/drag_cursor_white-v13789376720001406.cur),pointer;cursor:-moz-grabbing;cursor:-webkit-grabbing;cursor:grabbing}
#editPageContainerTextHotZones{height:0;margin:0;padding:0;position:absolute;width:0}
#editPageContainerTextHotZones .textarea{border:3px solid transparent;cursor:hand;cursor:pointer;overflow:visible;padding:0;position:absolute;text-align:center;z-index:50}
#editPageContainerTextHotZones .textarea .emptyAreaTextGuidance{display:none;pointer-events:none;position:relative}
#editPageContainerTextHotZones .textarea.empty .emptyAreaTextGuidance{display:block}
#editPageContainerTextHotZones .textarea.vertical.noIe8 .emptyAreaTextGuidance{-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);-moz-transform-origin:left center;-ms-transform-origin:left center;-webkit-transform-origin:left center;transform-origin:left center}
#editPageContainerTextHotZones .textarea.vertical.ie8 .emptyAreaTextGuidance{-ms-writing-mode:tb-lr}
#editPageContainerTextHotZones .textarea .renderWarning{background:url(/i/creationpath/icons/warning-v1383672964000269.png) center center no-repeat;height:15px;width:16px;position:relative;top:1px;left:1px;display:none}
#editPageContainerTextHotZones .textarea:hover{border:3px solid #0f0}
.dragpicture #editPageContainerTextHotZones .textarea{cursor:url(/i/creationpath/icons/drag_cursor_white-v13789376720001406.cur),pointer;cursor:-moz-grabbing;cursor:-webkit-grabbing;cursor:grabbing}
#editPageContainerSvg{height:100%;pointer-events:none;position:relative;width:100%}
#editPageContainerSvg>svg{background-size:cover;height:100%;width:100%}
#editPageContainerSvg>svg image{pointer-events:none}
#editPageContainerSvg .svgcontainer{position:absolute}
#editPageContainerSvg .svgcontainer>svg{height:100%;width:100%}
#svg_main{border:0;margin:0 auto;}
.dev #svg_main{border:1px solid #ccc}
#svg_main .svgtextarea.empty{fill:#ddd}
#editPageContainerHotZones{-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);top:50%}
#editAreaToolBar{background:#f2f2f2;height:55px;width:100%;overflow:hidden;padding-left:10px;padding-right:10px;font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:11px;color:#58595b}
#editAreaToolBar #leftMessage{text-align:left;float:left;display:inline-block;width:33%;line-height:55px}
#editAreaToolBar #centerMessage{display:inline-block;margin:0 auto;line-height:2.5em;width:33%;text-align:center;line-height:30px}
#toggleMode{float:right;width:33%;line-height:30px;text-align:right;vertical-align:middle}
#toggleMode.isSingleDesign{display:none}
#toggleMode #viewLabel{display:inline-block;color:#86888a;line-height:2.8em;padding-left:20px;border-left-color:#e4e4e4;border-left-width:1px;border-left-style:solid}
#toggleMode .mode{height:16px;width:16px;background-repeat:no-repeat;display:inline-block;margin-left:20px;vertical-align:middle;background:url("/i/creationpath/daw/toolbar/toggleModeSprite-v1404159617000136.png")}
#toggleMode .multiMode{background-position:0 -66px}
#toggleMode .multiMode.off{background-position:0 0;cursor:pointer}
#toggleMode .singleMode{background-position:0 -132px;cursor:pointer}
#toggleMode .singleMode.on{background-position:0 -198px;cursor:initial}
.enablemultiproductview #toggleMode{display:inline-block}
#toggleMode{display:none}
.toggleModeTooltipDialog{-moz-box-shadow:4px 4px 8px #999;-webkit-box-shadow:4px 4px 8px #999;box-shadow:4px 4px 8px #999;border:1px solid #c7c6c9;background:#FFF;display:inline-block;font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:13px;padding:5px 10px 5px 10px;position:absolute;min-width:55px;max-width:120px;z-index:300}
.toggleModeTooltipDialog::before{-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);border-color:#c7c6c9;border-width:1px 0 0 1px;border-style:solid;background-color:#FFF;content:"\00a0";height:10px;width:10px;right:7px;top:-7px;z-index:299;position:absolute}
.selectedProdToolTipDialog{-moz-box-shadow:4px 4px 8px #999;-webkit-box-shadow:4px 4px 8px #999;box-shadow:4px 4px 8px #999;border:1px solid #c7c6c9;background:#FFF;display:inline-block;font-family:"Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;font-size:13px;padding:5px 10px 5px 10px;position:absolute;min-width:55px;max-width:200px;z-index:300}
.selectedProdToolTipDialog::before{-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);border-color:#c7c6c9;border-width:0 1px 1px 0;border-style:solid;background-color:#FFF;content:"\00a0";height:10px;width:10px;top:78%;right:45%;z-index:299;position:absolute}
#editAreaWorkArea{height:100%;margin:0;padding:2%;position:relative;width:100%}
#editPageContainer.svg{-moz-transition-duration:0;-o-transition-duration:0;-webkit-transition-duration:0;transition-duration:0;-moz-transition-property:none;-o-transition-property:none;-webkit-transition-property:none;transition-property:none;overflow:hidden;padding:0}
#editPageContainer.svg.hide #editPageContainerBackpack{display:none}
#editPageContainer.svg::-webkit-scrollbar{height:7px;width:7px}
#editPageContainer.svg::-webkit-scrollbar-thumb{border-radius:4px;background-color:rgba(120,120,120,0.5);-webkit-box-shadow:0 0 1px rgba(180,180,180,0.5)}
#editPageContainer.svg .frame::-webkit-scrollbar-track{background-color:#FFF;border-radius:4px}
.windowresizing .svg #editPageContainerBackpack{display:none}
.svg #editPageContainerImageHotZones,.svg #editPageContainerTextHotZones,.svg #editPageContainerBodyHotZones{height:100%;width:100%}
.svg #editPageContainerImageHotZones .imagearea:hover{border:0}
.svg #editPageContainerImageHotZones .imagearea.dragPicHover{border:1px solid #589ecf;-moz-box-shadow:-1px 0 0 1px #589ecf;-webkit-box-shadow:-1px 0 0 1px #589ecf;box-shadow:-1px 0 0 1px #589ecf}
.svg #editPageContainerImageHotZones .productSelected>.imagearea:hover{border:1px solid #589ecf;-moz-box-shadow:-1px 0 0 1px #589ecf;-webkit-box-shadow:-1px 0 0 1px #589ecf;box-shadow:-1px 0 0 1px #589ecf}
.svg #editPageContainerTextHotZones .textarea:hover{border:0}
.svg #editPageContainerTextHotZones .textarea.empty{border:2px solid rgba(255,255,255,0.5)}
.svg #editPageContainerTextHotZones .textarea.empty:hover{border:2px solid rgba(255,255,255,0.5)}
.svg #editPageContainerTextHotZones .productSelected>.textarea .empty{background-color:rgba(239,239,239,0.2);border:2px solid rgba(255,255,255,0.5)}
.svg #editPageContainerTextHotZones .productSelected>.textarea:hover{border:2px solid lime}
.svg #editPageContainerBackpack{position:relative;float:left}
.svg #editPageContainerHotZones{position:relative;margin:0 auto}
.svg .svgbodycontainer{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-shadow:0 0 0 1px #eee;-webkit-box-shadow:0 0 0 1px #eee;box-shadow:0 0 0 1px #eee;border:1px solid #DDD;position:absolute}
.svg .svgbodycontainer.isMasked{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border:0}
.svg .svgbodycontainer.productSelected{outline-style:solid;outline-color:#f05323;outline-width:3px;outline-offset:3px;padding:0}
.svg .svgbodycontainer:hover.productSelected,.svg .svgbodycontainer.isMasked:hover.productSelected{outline-style:solid;outline-color:#f05323;outline-width:3px}
.svg .svgbodycontainer.designHighlight{outline-style:solid;outline-color:#a6a6a6;outline-width:3px;outline-offset:3px}
.svg .svgbodycontainer.productHighlight{outline-style:solid;outline-color:#a6a6a6;outline-width:3px;outline-offset:3px}
.svg .svgbodycontainer.productHighlight.productSelected{outline-style:solid;outline-color:#f05323;outline-width:3px;outline-offset:3px}
.svg.freeform.singleProduct .svgbodycontainer.productHighlight{outline:0}
.svg .svgimagearea{fill:#ddd;-webkit-backface-visibility:hidden}
.svg rect.svgimagearea{stroke:none}
.svg g,.svg svg,.svg image{-webkit-backface-visibility:hidden}
.svg .svgcontainer>svg.isMasked{border:1px solid transparent}
#editPageContainer.svg.preview{float:none}
.svg.preview.arrangement #widthMeasurement,.svg.preview.arrangement #previewMeasurementMessage,.svg.preview.arrangement #heightMeasurement{display:block}
.svg.preview.arrangement #widthMeasurement{margin-bottom:2%}
.svg.preview.arrangement #previewMeasurementMessage{padding:0 0 5px 0;margin-bottom:3%}
.svg.preview #editAreaWorkArea{padding:1% 4.5% 6.5% 2.5%}
.svg.preview #editAreaToolBar{display:none}
.svg.preview.freeform #editAreaToolBar{display:block}
.svg.preview.freeform #previewMeasurementMessage{display:block}
.svg.preview.freeform #svg_main,.svg.preview.freeform #editPageContainerHotZones{-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);top:50%}
.svg.preview #svg_main .svgtextarea.empty{fill:none}
.svg.preview #editPageContainerBackpack #editPageContainerBodyHotZones .svgbodycontainer{border:0;box-shadow:none;outline:0}
.svg.preview #editPageContainerBackpack .imagearea,.svg.preview #editPageContainerBackpack .textarea{border:0;background:0;padding:0}
.svg.preview #editPageContainerBackpack .imagearea:hover,.svg.preview #editPageContainerBackpack .textarea:hover{border:0;background:0;padding:0;box-shadow:none}
.svg.preview #editPageContainerBackpack .imagearea:hover .renderWarning{top:1%;left:1%}
.svg.preview #editPageContainerBackpack .emptyAreaTextGuidance{display:none}
.svg.preview .svgimagearea{fill:none}
.svg.preview .svgcontainer>svg{border:1px solid #ddd}
.svg.preview .svgcontainer>svg.isMasked{border:1px solid transparent}
/*.svg #widthMeasurement,.svg #heightMeasurement{background:url(/i/creationpath/daw/horizontal_dash-v139931639800044.gif) center center repeat-x;border-left:1px solid black;border-right:1px solid black;margin:0 auto;margin-bottom:8px}*/
.svg #widthMeasurement .measurement,.svg #heightMeasurement .measurement{padding:0 5px 3px 5px}
.svg #widthMeasurement,.svg #previewMeasurementMessage,.svg #heightMeasurement{display:none;font-size:12px;position:relative}
.svg #widthMeasurement .measurement,.svg #previewMeasurementMessage .measurement,.svg #heightMeasurement .measurement{background-color:#FFF;display:inline-block;margin:0 auto;white-space:nowrap}
.svg #heightMeasurement{-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg);transform:rotate(90deg);-moz-transform-origin:0 0;-ms-transform-origin:0 0;-webkit-transform-origin:0 0;transform-origin:0 0;margin:0 auto;position:absolute}
.svg .arrow{background-color:#FFF;display:inline-block;font-size:18px;line-height:85%;position:absolute}
.svg .left-arrow{left:0;padding-right:5px}
.svg .right-arrow{padding-left:5px;right:0}
.svg #editNavLeft,.svg #editNavRight{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:url(/assets/images/tinyicons-v14002651080003271.png);background-repeat:no-repeat;display:none;height:24px;margin:-13px 8px 11px 8px;overflow:hidden;position:absolute;text-indent:-999px;top:50%;width:20px}
.svg #editNavLeft.isSingleDesign,.svg #editNavRight.isSingleDesign{display:none}
.svg #editNavLeft{background-position:-4px -310px;left:10px}
.svg #editNavLeft.on{background-position:-4px -338px;cursor:pointer}
.svg #editNavRight{background-position:-4px -250px;right:10px}
.svg #editNavRight.on{background-position:-4px -283px;cursor:pointer}
.svg.zoomed #editNavLeft,.svg.zoomed #editNavRight{display:inline-block}
.svg.zoomed #editNavLeft.isSingleDesign,.svg.zoomed #editNavRight.isSingleDesign{display:none}
.svg.zoomed.freeform #editPageContainerBodyHotZones .svgbodycontainer{outline:0}
.svg.zoomed.freeform #editPageContainerBodyHotZones .svgbodycontainer.designHighlight{outline-style:solid;outline-color:#f05323;outline-width:3px}
.svg.zoomed.freeform #editPageContainerBodyHotZones .svgbodycontainer:hover.productSelected,.svg.zoomed.freeform #editPageContainerBodyHotZones .svgbodycontainer.isMasked:hover.productSelected{outline:0}

.loading{background-image:url(/i/SFLY/orangespinner-v137444338500012479.gif);background-position:center center;background-repeat:no-repeat;background-size:30px 30px;height:100%;width:100%}
.closeButton{background:url(/i/creationpath/icons/close-v1369079317000621.png) center center no-repeat;cursor:pointer;height:16px;margin:10px;width:16px}
.warningIndicator{background:url(/i/creationpath/icons/warning-v1383672964000269.png) center center no-repeat;width:16px;height:15px;float:left;margin-right:4px}
#contentContainer{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-moz-transition-property:padding-bottom;-o-transition-property:padding-bottom;-webkit-transition-property:padding-bottom;transition-property:padding-bottom;-moz-transition-duration:300ms;-o-transition-duration:300ms;-webkit-transition-duration:300ms;transition-duration:300ms;height:100%;min-height:240px;margin:0;margin-top:-60px;margin-bottom:-160px;padding:60px 0 160px 0;width:100%}
#contentContainer.noBottomPadding{padding-bottom:0}
.svg #contentContainer{-moz-transition-property:none;-o-transition-property:none;-webkit-transition-property:none;transition-property:none;-moz-transition-duration:0;-o-transition-duration:0;-webkit-transition-duration:0;transition-duration:0}
svg{overflow:hidden}
.link{color:#66C;text-decoration:none}
.primaryButton:hover{background:#428bca}
.primaryButton,.primaryButton:hover,.primaryButton:active,.primaryButton:visited,.secondaryButton,.secondaryButton:hover,.secondaryButton:active,.secondaryButton:visited{color:#FFF;text-decoration:none}
.primaryButton{text-shadow:-1px -1px #428bca;background-color:#428bca;background:-webkit-gradient(linear,0% 0,0% 100%,from(#428bca),to(#428bca));background:-webkit-linear-gradient(top,#428bca,#428bca);background:-moz-linear-gradient(top,#428bca,#428bca);background:-ms-linear-gradient(top,#428bca,#428bca);background:-o-linear-gradient(top,#428bca,#428bca)}
.secondaryButton{text-shadow:-1px -1px #369;background-color:#69c;background:-webkit-gradient(linear,0% 0,0% 100%,from(#69c),to(#5681ab));background:-webkit-linear-gradient(top,#69c,#5681ab);background:-moz-linear-gradient(top,#69c,#5681ab);background:-ms-linear-gradient(top,#69c,#5681ab);background:-o-linear-gradient(top,#69c,#5681ab)}
.primaryButton,.secondaryButton{display:inline-block;padding:0 10px;font:13px/1.5em "Avenir LT W01 55 Roman",Verdana,Arial,sans-serif;border-radius:3px;box-shadow:1px 1px 4px #CCC;outline:0;cursor:pointer;line-height:1.55em;height:23px}
.primaryButton.hidden{display:none}
.secondaryButton.hidden{display:none}
.ui-widget-header .ui-icon{background-image:url(/i/creationpath/jquery/ui-icons_ffffff_256x240-v13685646400003770.png)}
#surveylink{float:right;position:absolute;font-size:8pt;color:#a3a3a3;bottom:0;right:0}