/*@media (max-width: 479px) {
	div.display_blog {
		display:none;
	}
}
@media (max-width: 560px) {
	div.banner-nm {
		display:none;
	}
}
*/
ul.hierachy {
	padding-left:0;
	text-align: center;
}

div.form-forgot {
	margin-bottom:10px;
}
.nav-tabs>li>a{
	padding: 4px 4px;
}
.product-navigation>li{
	min-width: 15%;
	float:none;
	display: inline-block;
	border: 1px solid #d1d2d3 !important;
	height: 34px;
}
.product-navigation > li.active{
	border-top-width: 0 !important;
}

.product-navigation>li:nth-child(5){
	margin-top: 5px;
	margin-bottom: 1px;
}
.fancybox-close {
	right:-5px !important;
}

#menu-header{
	font-size: 16px;
}

#menu-header li .fa-angle-double-right{
	color:rgba(0,0,0,0) !important;
}
#menu-header ul.sub-menu li:before{
	display:none !important;
}
#menu-header ul.sub-menu li{
	margin-left: 10px;
	padding-left: 10px;
}
#menu-header ul.sub-menu li a:active,#menu-header ul.sub-menu li a:focus{
	font-size: 16px;
}
#menu-header,.nav-side-menu,#menu-header ul,#menu-header ul.sub-menu li{
	background-color: #5e656d;
}
.banner-nm{
	display:none !important;
}
.brand{
	padding-left: 0 !important;
}

.brand img.logo{
	margin:0;
	margin-left: auto;
    max-height: 45px;
    margin-right: auto;
    display: block;
}

.nav-side-menu .toggle-btn {  
    background-color: #3F4348;
    color: #BBB6B6;
}